In [1]:
# !pip install dask[complete]

In [2]:
# !pip install dask distributed --upgrade
# !pip install dask
# !pip install cloudpickle
# !pip install "dask[dataframe]"
# !pip install "dask[complete]"

In [3]:
!pip install dask_ml

Requirement already satisfied: dask_ml in c:\users\123sa\anaconda3\lib\site-packages (2023.3.24)
Requirement already satisfied: pandas>=0.24.2 in c:\users\123sa\anaconda3\lib\site-packages (from dask_ml) (1.5.3)
Requirement already satisfied: numpy>=1.20.0 in c:\users\123sa\anaconda3\lib\site-packages (from dask_ml) (1.23.5)
Requirement already satisfied: dask-glm>=0.2.0 in c:\users\123sa\anaconda3\lib\site-packages (from dask_ml) (0.2.0)
Requirement already satisfied: distributed>=2.4.0 in c:\users\123sa\anaconda3\lib\site-packages (from dask_ml) (2023.4.1)
Requirement already satisfied: numba>=0.51.0 in c:\users\123sa\anaconda3\lib\site-packages (from dask_ml) (0.56.4)
Requirement already satisfied: multipledispatch>=0.4.9 in c:\users\123sa\anaconda3\lib\site-packages (from dask_ml) (0.6.0)
Requirement already satisfied: packaging in c:\users\123sa\anaconda3\lib\site-packages (from dask_ml) (22.0)
Requirement already satisfied: scikit-learn>=1.2.0 in c:\users\123sa\anaconda3\lib\site-packages (from dask_ml) (1.2.1)
Requirement already satisfied: dask[array,dataframe]>=2.4.0 in c:\users\123sa\anaconda3\lib\site-packages (from dask_ml) (2023.4.1)
Requirement already satisfied: scipy in c:\users\123sa\anaconda3\lib\site-packages (from dask_ml) (1.10.0)
Requirement already satisfied: cloudpickle>=0.2.2 in c:\users\123sa\anaconda3\lib\site-packages (from dask-glm>=0.2.0->dask_ml) (2.0.0)
Requirement already satisfied: toolz>=0.10.0 in c:\users\123sa\anaconda3\lib\site-packages (from dask[array,dataframe]>=2.4.0->dask_ml) (0.12.0)
Requirement already satisfied: pyyaml>=5.3.1 in c:\users\123sa\anaconda3\lib\site-packages (from dask[array,dataframe]>=2.4.0->dask_ml) (6.0)
Requirement already satisfied: partd>=1.2.0 in c:\users\123sa\anaconda3\lib\site-packages (from dask[array,dataframe]>=2.4.0->dask_ml) (1.2.0)
Requirement already satisfied: click>=8.0 in c:\users\123sa\anaconda3\lib\site-packages (from dask[array,dataframe]>=2.4.0->dask_ml) (8.0.4)
Requirement already satisfied: importlib-metadata>=4.13.0 in c:\users\123sa\anaconda3\lib\site-packages (from dask[array,dataframe]>=2.4.0->dask_ml) (6.6.0)
Requirement already satisfied: fsspec>=2021.09.0 in c:\users\123sa\anaconda3\lib\site-packages (from dask[array,dataframe]>=2.4.0->dask_ml) (2022.11.0)
Requirement already satisfied: tornado>=6.0.3 in c:\users\123sa\anaconda3\lib\site-packages (from distributed>=2.4.0->dask_ml) (6.1)
Requirement already satisfied: sortedcontainers>=2.0.5 in c:\users\123sa\anaconda3\lib\site-packages (from distributed>=2.4.0->dask_ml) (2.4.0)
Requirement already satisfied: locket>=1.0.0 in c:\users\123sa\anaconda3\lib\site-packages (from distributed>=2.4.0->dask_ml) (1.0.0)
Requirement already satisfied: zict>=2.2.0 in c:\users\123sa\anaconda3\lib\site-packages (from distributed>=2.4.0->dask_ml) (3.0.0)
Requirement already satisfied: msgpack>=1.0.0 in c:\users\123sa\anaconda3\lib\site-packages (from distributed>=2.4.0->dask_ml) (1.0.3)
Requirement already satisfied: tblib>=1.6.0 in c:\users\123sa\anaconda3\lib\site-packages (from distributed>=2.4.0->dask_ml) (1.7.0)
Requirement already satisfied: psutil>=5.7.0 in c:\users\123sa\anaconda3\lib\site-packages (from distributed>=2.4.0->dask_ml) (5.9.0)
Requirement already satisfied: urllib3>=1.24.3 in c:\users\123sa\anaconda3\lib\site-packages (from distributed>=2.4.0->dask_ml) (1.26.14)
Requirement already satisfied: jinja2>=2.10.3 in c:\users\123sa\anaconda3\lib\site-packages (from distributed>=2.4.0->dask_ml) (3.1.2)
Requirement already satisfied: six in c:\users\123sa\anaconda3\lib\site-packages (from multipledispatch>=0.4.9->dask_ml) (1.16.0)
Requirement already satisfied: llvmlite<0.40,>=0.39.0dev0 in c:\users\123sa\anaconda3\lib\site-packages (from numba>=0.51.0->dask_ml) (0.39.1)
Requirement already satisfied: setuptools in c:\users\123sa\anaconda3\lib\site-packages (from numba>=0.51.0->dask_ml) (65.6.3)
Requirement already satisfied: pytz>=2020.1 in c:\users\123sa\anaconda3\lib\site-packages (from pandas>=0.24.2->dask_ml) (2022.7)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\123sa\anaconda3\lib\site-packages (from pandas>=0.24.2->dask_ml) (2.8.2)
Requirement already satisfied: joblib>=1.1.1 in c:\users\123sa\anaconda3\lib\site-packages (from scikit-learn>=1.2.0->dask_ml) (1.1.1)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\123sa\anaconda3\lib\site-packages (from scikit-learn>=1.2.0->dask_ml) (2.2.0)
Requirement already satisfied: colorama in c:\users\123sa\anaconda3\lib\site-packages (from click>=8.0->dask[array,dataframe]>=2.4.0->dask_ml) (0.4.6)
Requirement already satisfied: zipp>=0.5 in c:\users\123sa\anaconda3\lib\site-packages (from importlib-metadata>=4.13.0->dask[array,dataframe]>=2.4.0->dask_ml) (3.11.0)
Requirement already satisfied: MarkupSafe>=2.0 in c:\users\123sa\anaconda3\lib\site-packages (from jinja2>=2.10.3->distributed>=2.4.0->dask_ml) (2.1.1)

In [4]:
import dask.dataframe as dd
import os
import json
import math
import dask
from dask.distributed import Client
import dask.dataframe as dd
import numpy as np
import dask.multiprocessing

In [5]:
os.listdir()

['.git',
 '.ipynb_checkpoints',
 '.mrx-link-config.yaml',
 '.mrx-link-logs',
 '.vscode',
 'dask1.ipynb',
 'daskproj1.ipynb',
 'flights-larger.csv',
 'venv']

In [6]:
client = Client(n_workers=3, threads_per_worker=1, processes=False)

In [7]:
client

In [8]:
df = dd.read_csv("flights-larger.csv", assume_missing=True)

In [9]:
df.head(5)

    mon   dom  dow carrier  flight  org    mile  depart  duration  delay
0  10.0  10.0  1.0      OO  5836.0  ORD   157.0    8.18      51.0   27.0
1   1.0   4.0  1.0      OO  5866.0  ORD   466.0   15.50     102.0    NaN
2  11.0  22.0  1.0      OO  6016.0  ORD   738.0    7.17     127.0  -19.0
3   2.0  14.0  5.0      B6   199.0  JFK  2248.0   21.17     365.0   60.0
4   5.0  25.0  3.0      WN  1675.0  SJC   386.0   12.92      85.0   22.0

In [10]:
df.compute()

         mon   dom  dow carrier  flight  org    mile  depart  duration  delay
0       10.0  10.0  1.0      OO  5836.0  ORD   157.0    8.18      51.0   27.0
1        1.0   4.0  1.0      OO  5866.0  ORD   466.0   15.50     102.0    NaN
2       11.0  22.0  1.0      OO  6016.0  ORD   738.0    7.17     127.0  -19.0
3        2.0  14.0  5.0      B6   199.0  JFK  2248.0   21.17     365.0   60.0
4        5.0  25.0  3.0      WN  1675.0  SJC   386.0   12.92      85.0   22.0
...      ...   ...  ...     ...     ...  ...     ...     ...       ...    ...
274995   4.0  31.0  6.0      UA   259.0  ORD   888.0   16.75     154.0   46.0
274996   3.0  14.0  1.0      UA   119.0  SFO   337.0   16.20      84.0   33.0
274997  10.0   4.0  2.0      AA   716.0  ORD  1005.0    7.00     155.0   -6.0
274998   9.0  27.0  1.0      B6   128.0  JFK   267.0   22.50      86.0  -19.0
274999   6.0  15.0  2.0      OH  5552.0  JFK   301.0    9.08     105.0  -15.0

[275000 rows x 10 columns]

Data columns:

mon — month (int between 1 and 12)

dom — day of month (int between 1 and 31)

dow — day of week (int; 1 = Monday and 7 = Sunday)

org — origin airport (str; IATA code)

mile — distance (int; miles)

carrier — carrier (str; IATA code)

depart — departure time (int; decimal hour)

duration — expected duration (int; minutes)

delay — delay (int; minutes)

(IATA -> International Air Transport Association)

In [11]:
df.shape

(Delayed('int-5aa5ba57-d2ed-4441-88ea-9602dc1f9ef8'), 10)

Basic data exploration
Exploring basic info like:

How many records?
Which datatypes?
missing values etc.

In [12]:
df.dtypes

mon         float64
dom         float64
dow         float64
carrier      object
flight      float64
org          object
mile        float64
depart      float64
duration    float64
delay       float64
dtype: object

In [13]:
df.isnull().compute().sum()

mon             0
dom             0
dow             0
carrier         0
flight          0
org             0
mile            0
depart          0
duration        0
delay       16711
dtype: int64

In [14]:
#so only in delay we have around 16000 null values. so that dos not impact more.

In [15]:
# data preprocessiong for our model training.

#step-1 
#we are just predecting delay time taken from origin aripot to carrier..

#drop flight column its unmwanted.

df = df.drop(["flight"], axis=1)

In [16]:
df.compute()

         mon   dom  dow carrier  org    mile  depart  duration  delay
0       10.0  10.0  1.0      OO  ORD   157.0    8.18      51.0   27.0
1        1.0   4.0  1.0      OO  ORD   466.0   15.50     102.0    NaN
2       11.0  22.0  1.0      OO  ORD   738.0    7.17     127.0  -19.0
3        2.0  14.0  5.0      B6  JFK  2248.0   21.17     365.0   60.0
4        5.0  25.0  3.0      WN  SJC   386.0   12.92      85.0   22.0
...      ...   ...  ...     ...  ...     ...     ...       ...    ...
274995   4.0  31.0  6.0      UA  ORD   888.0   16.75     154.0   46.0
274996   3.0  14.0  1.0      UA  SFO   337.0   16.20      84.0   33.0
274997  10.0   4.0  2.0      AA  ORD  1005.0    7.00     155.0   -6.0
274998   9.0  27.0  1.0      B6  JFK   267.0   22.50      86.0  -19.0
274999   6.0  15.0  2.0      OH  JFK   301.0    9.08     105.0  -15.0

[275000 rows x 9 columns]

In [17]:
df =  df.dropna()

In [18]:
df.compute()

         mon   dom  dow carrier  org    mile  depart  duration  delay
0       10.0  10.0  1.0      OO  ORD   157.0    8.18      51.0   27.0
2       11.0  22.0  1.0      OO  ORD   738.0    7.17     127.0  -19.0
3        2.0  14.0  5.0      B6  JFK  2248.0   21.17     365.0   60.0
4        5.0  25.0  3.0      WN  SJC   386.0   12.92      85.0   22.0
5        3.0  28.0  1.0      B6  LGA  1076.0   13.33     182.0   70.0
...      ...   ...  ...     ...  ...     ...     ...       ...    ...
274995   4.0  31.0  6.0      UA  ORD   888.0   16.75     154.0   46.0
274996   3.0  14.0  1.0      UA  SFO   337.0   16.20      84.0   33.0
274997  10.0   4.0  2.0      AA  ORD  1005.0    7.00     155.0   -6.0
274998   9.0  27.0  1.0      B6  JFK   267.0   22.50      86.0  -19.0
274999   6.0  15.0  2.0      OH  JFK   301.0    9.08     105.0  -15.0

[258289 rows x 9 columns]

In [19]:
df1 = df

In [20]:
# # Convert 'mile' to 'km' and drop 'mile'
# flights_km = df1.assign(km=round(df1.mile * 1.60934)).drop(columns='mile')

In [21]:
# Convert miles to km and store the result in a new column 'km'
df1['km'] = df1['mile'].mul(1.60934)

In [22]:
df1.head(5)

    mon   dom  dow carrier  org    mile  depart  duration  delay          km
0  10.0  10.0  1.0      OO  ORD   157.0    8.18      51.0   27.0   252.66638
2  11.0  22.0  1.0      OO  ORD   738.0    7.17     127.0  -19.0  1187.69292
3   2.0  14.0  5.0      B6  JFK  2248.0   21.17     365.0   60.0  3617.79632
4   5.0  25.0  3.0      WN  SJC   386.0   12.92      85.0   22.0   621.20524
5   3.0  28.0  1.0      B6  LGA  1076.0   13.33     182.0   70.0  1731.64984

In [23]:
df1.drop(['mile'], axis=1).compute()

         mon   dom  dow carrier  org  depart  duration  delay          km
0       10.0  10.0  1.0      OO  ORD    8.18      51.0   27.0   252.66638
2       11.0  22.0  1.0      OO  ORD    7.17     127.0  -19.0  1187.69292
3        2.0  14.0  5.0      B6  JFK   21.17     365.0   60.0  3617.79632
4        5.0  25.0  3.0      WN  SJC   12.92      85.0   22.0   621.20524
5        3.0  28.0  1.0      B6  LGA   13.33     182.0   70.0  1731.64984
...      ...   ...  ...     ...  ...     ...       ...    ...         ...
274995   4.0  31.0  6.0      UA  ORD   16.75     154.0   46.0  1429.09392
274996   3.0  14.0  1.0      UA  SFO   16.20      84.0   33.0   542.34758
274997  10.0   4.0  2.0      AA  ORD    7.00     155.0   -6.0  1617.38670
274998   9.0  27.0  1.0      B6  JFK   22.50      86.0  -19.0   429.69378
274999   6.0  15.0  2.0      OH  JFK    9.08     105.0  -15.0   484.41134

[258289 rows x 9 columns]

In [24]:
# Create 'label' column indicating whether a flight is delayed or not
df1['label'] = (df1['delay'].ge(15)).astype('int')

In [25]:
df1.compute()

,mon,dom,dow,carrier,org,mile,depart,duration,delay,km,label
0,10.0,10.0,1.0,OO,ORD,157.0,8.18,51.0,27.0,252.66638,1
2,11.0,22.0,1.0,OO,ORD,738.0,7.17,127.0,-19.0,1187.69292,0
3,2.0,14.0,5.0,B6,JFK,2248.0,21.17,365.0,60.0,3617.79632,1
4,5.0,25.0,3.0,WN,SJC,386.0,12.92,85.0,22.0,621.20524,1
5,3.0,28.0,1.0,B6,LGA,1076.0,13.33,182.0,70.0,1731.64984,1
...,...,...,...,...,...,...,...,...,...,...,...
274995,4.0,31.0,6.0,UA,ORD,888.0,16.75,154.0,46.0,1429.09392,1
274996,3.0,14.0,1.0,UA,SFO,337.0,16.20,84.0,33.0,542.34758,1
274997,10.0,4.0,2.0,AA,ORD,1005.0,7.00,155.0,-6.0,1617.38670,0
274998,9.0,27.0,1.0,B6,JFK,267.0,22.50,86.0,-19.0,429.69378,0
274999,6.0,15.0,2.0,OH,JFK,301.0,9.08,105.0,-15.0,484.41134,0

In [26]:
df1.head()

,mon,dom,dow,carrier,org,mile,depart,duration,delay,km,label
0,10.0,10.0,1.0,OO,ORD,157.0,8.18,51.0,27.0,252.66638,1
2,11.0,22.0,1.0,OO,ORD,738.0,7.17,127.0,-19.0,1187.69292,0
3,2.0,14.0,5.0,B6,JFK,2248.0,21.17,365.0,60.0,3617.79632,1
4,5.0,25.0,3.0,WN,SJC,386.0,12.92,85.0,22.0,621.20524,1
5,3.0,28.0,1.0,B6,LGA,1076.0,13.33,182.0,70.0,1731.64984,1

In [27]:
data = df1.categorize(columns=['carrier', 'org'])
data.head()

,mon,dom,dow,carrier,org,mile,depart,duration,delay,km,label
0,10.0,10.0,1.0,OO,ORD,157.0,8.18,51.0,27.0,252.66638,1
2,11.0,22.0,1.0,OO,ORD,738.0,7.17,127.0,-19.0,1187.69292,0
3,2.0,14.0,5.0,B6,JFK,2248.0,21.17,365.0,60.0,3617.79632,1
4,5.0,25.0,3.0,WN,SJC,386.0,12.92,85.0,22.0,621.20524,1
5,3.0,28.0,1.0,B6,LGA,1076.0,13.33,182.0,70.0,1731.64984,1

In [28]:
df2 = data.compute()

In [29]:
df2 = df2[['carrier', 'org']]
df2.head()

  carrier  org
0      OO  ORD
2      OO  ORD
3      B6  JFK
4      WN  SJC
5      B6  LGA

In [30]:
from dask_ml.preprocessing import OrdinalEncoder

In [128]:
# from dask_ml.preprocessing import FeatureHasher

In [31]:
enc = OrdinalEncoder()
trn = enc.fit_transform(df2)

In [32]:
trn.head()

   carrier  org
0        5    3
2        5    3
3        2    0
4        8    5
5        2    1

In [33]:
#drop the encoded columns and merge encoded columns new
df1 = df1.drop(["carrier","org"], axis=1)

In [34]:
# Merge trn DataFrame to df2 on a common column 'common_col'
df3 = df1.merge(trn)

In [35]:
df3.head()

,mon,dom,dow,mile,depart,duration,delay,km,label,carrier,org
0,10.0,10.0,1.0,157.0,8.18,51.0,27.0,252.66638,1,5,3
2,11.0,22.0,1.0,738.0,7.17,127.0,-19.0,1187.69292,0,5,3
3,2.0,14.0,5.0,2248.0,21.17,365.0,60.0,3617.79632,1,2,0
4,5.0,25.0,3.0,386.0,12.92,85.0,22.0,621.20524,1,8,5
5,3.0,28.0,1.0,1076.0,13.33,182.0,70.0,1731.64984,1,2,1

In [36]:
# # Iterate through each categorical column and perform ordinal encoding
# for col in cat_cols:
#     # Convert the series column to a dataframe column
#     df_col = df1[col].to_frame()
    
#     # Encode the categorical column
#     encoder = pp.OrdinalEncoder()
#     df_encoded = encoder.fit_transform(df1[[col]])

In [37]:
df3.compute()

,mon,dom,dow,mile,depart,duration,delay,km,label,carrier,org
0,10.0,10.0,1.0,157.0,8.18,51.0,27.0,252.66638,1,5,3
2,11.0,22.0,1.0,738.0,7.17,127.0,-19.0,1187.69292,0,5,3
3,2.0,14.0,5.0,2248.0,21.17,365.0,60.0,3617.79632,1,2,0
4,5.0,25.0,3.0,386.0,12.92,85.0,22.0,621.20524,1,8,5
5,3.0,28.0,1.0,1076.0,13.33,182.0,70.0,1731.64984,1,2,1
...,...,...,...,...,...,...,...,...,...,...,...
274995,4.0,31.0,6.0,888.0,16.75,154.0,46.0,1429.09392,1,6,3
274996,3.0,14.0,1.0,337.0,16.20,84.0,33.0,542.34758,1,6,4
274997,10.0,4.0,2.0,1005.0,7.00,155.0,-6.0,1617.38670,0,0,3
274998,9.0,27.0,1.0,267.0,22.50,86.0,-19.0,429.69378,0,2,0
274999,6.0,15.0,2.0,301.0,9.08,105.0,-15.0,484.41134,0,4,0

In [38]:
# import dask_ml.preprocessing as dpp

# # Create a list of column names to include in the feature vector
# input_cols = ['mon', 'dom', 'dow', 'carrier', 'org', 'km', 'depart', 'duration']

# # Create a Dask VectorAssembler object
# assembler = dpp.VectorAssembler(input_cols, output_col='features')

In [39]:
# df4 = assembler.transform(df3)

In [40]:
import dask_ml.datasets as dmd
x = df3[['mon', 'dom', 'dow', 'carrier', 'org', 'km', 'depart', 'duration']]
y = df3['delay']

# Load the data as a Dask array
X, y = dmd.make_classification(n_samples=100000, n_features=20, chunks=1000)

C:\Users\123sa\anaconda3\lib\site-packages\dask\base.py:1368: UserWarning: Running on a single-machine scheduler when a distributed client is active might lead to unexpected results.
  warnings.warn(

In [41]:
import dask_ml.model_selection as dm
# Split the data into training and testing sets
# Split the data into training and testing sets
X_train, X_test, y_train, y_test = dm.train_test_split(X, y, test_size=0.2)

In [42]:
X_train

dask.array<concatenate, shape=(80000, 20), dtype=float64, chunksize=(800, 20), chunktype=numpy.ndarray>

In [43]:
y_train

dask.array<concatenate, shape=(80000,), dtype=int32, chunksize=(800,), chunktype=numpy.ndarray>

In [49]:
import dask.dataframe as dd
import dask_ml.model_selection as dms
from dask_ml.linear_model import LogisticRegression


# Create a LogisticRegression object
clf = LogisticRegression()

# Fit the classifier on the training data
clf.fit(X_train, y_train)

# Predict the target variable for the testing data
y_pred = clf.predict(X_test)

In [61]:
clf.score(X_test, y_test).compute()

0.64085

In [50]:
# Compute the accuracy of the model
accuracy = (y_pred == y_test).sum() / len(y_test)
accuracy = accuracy.compute()
# Print the accuracy
print(f"Accuracy: {accuracy}")

Accuracy: 0.64085

In [53]:
# import dask.array as da
# # Make predictions on new data
# new_data = da.from_array([[10.1,10,11,12,15,14,1,11,15.5,10]])
# y_pred_dask = clf.predict(new_data)

# # Convert Dask array to NumPy array
# y_pred = y_pred_dask.compute()

In [71]:
# clf.predict([[10.1,10,11,12,15,14,1,11]])

In [70]:
# y_pred

array([False, False, False, ...,  True,  True,  True])

In [ ]:
# import joblib
# # Save the model using joblib
# joblib.dump(lr, 'model.pkl')
# # Load the saved model
# loaded_model = joblib.load('model.pkl')

# # Use the loaded model to make predictions
# y_pred = loaded_model.predict(X_new)

In [73]:
import joblib
# Save the model using joblib
joblib.dump(clf, 'model.pkl')

['model.pkl']

In [81]:
len(X_train.compute())

80000

In [82]:
len(X_test.compute())

20000

In [95]:
import joblib
# # Save the model using joblib
ob = joblib.load('model.pkl')
y_pred = ob.predict(X_test)
y_pred

dask.array<gt, shape=(20000,), dtype=bool, chunksize=(200,), chunktype=numpy.ndarray>

In [ ]:
# import joblib
# # Save the model using joblib
# joblib.dump(lr, 'model.pkl')
# # Load the saved model
# loaded_model = joblib.load('model.pkl')

# # Use the loaded model to make predictions
# y_pred = loaded_model.predict(X_new)

In [98]:
y_pred = y_pred.compute()

In [103]:
y_pred.compute()

array([0, 0, 0, ..., 1, 1, 1])

In [91]:
y_test.compute()

array([0, 0, 0, ..., 0, 1, 0])

In [101]:
# Replace True with 1 and False with 0
y_pred = da.where(y_pred, 1, 0)

In [105]:
import dask_ml.metrics as dm
# Calculate the mean squared error
mse = dm.mean_squared_error(y_test, y_pred)

# Print the mean squared error
print("Mean squared error:", mse)

Mean squared error: 0.35915

In [112]:
# Generate some new input data
#X_new = da.random.normal(size=(10, X.shape[1]))

# # Use the model to generate predictions for the new input data
# y_pred1 = y_test.predict(X_new)

# # Print the predicted values
# print("Predicted values:", y_pred1.compute())

In [114]:
# # Use the loaded model to make predictions
y_pred1 = loaded_model.predict(X_new)

In [140]:
y_pred1 = clf.predict(X_new)
y1 = y_pred1.compute()

In [141]:
y1

array([ True,  True,  True, False, False, False,  True,  True, False,
       False])

In [142]:
# Replace True with 1 and False with 0
y1 = da.where(y1, 1, 0)

In [143]:
y1.compute()

array([1, 1, 1, 0, 0, 0, 1, 1, 0, 0])